.prod-cart{
    border: 1px solid black;
    padding: 5px;
    border: 10px 30px;
    display: flex;
    background-color: white;
    border-radius: 4px;
    margin: 10px;
    margin-bottom: 5px;
    align-items: center;
}

.prod-cart img {
    width: 80px;
}

.prod-cart h5{
    flex: 6;
}

.prod-cart label {
    flex: 2;
    text-align: center;
}